# Python cache and environments
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
.venv/
venv/

# Virtual environment directories
.venv/
venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Data, model outputs, and logs
outputs/
*.pth
*.pt
*.h5
*.ckpt
*.log

# Large dataset directories
sen2lulc/

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Git files
*.lock
